<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello, Vue</title>
  <script src="http://unpkg.com/vue" type="text/javascript"></script>
</head>
<body>
  <div class="app">
    <h1>Hello, {{name}}</h1>
    <h3>{{userInfo}}</h3>
    <h3><a v-bind:href="url">Google</a></h3>
    <button v-on:click="changeName">Change name</button>

    <input type="text" placeholder="First name" v-model="dataForm.firstName">
    <input type="text" placeholder="Last name" v-model="dataForm.lastName">
    <h1>Hi {{dataForm.firstName}}</h1>

  <ul>
    <!-- <category-item
      v-for="key in categories"
      v-bind:text="key.name"
      v-bind:amount="key.amount"
      v-bind:class="{active: key == activeCategory}"
      v-on:click.native="activeCategoryItem(key)">
      </category-item> -->


      <category-item
        v-bind:text="categories[0].name"
        v-bind:amount="categories[0].amount"
        v-bind:class="{active: categories[0] == activeCategory}"
        v-on:click.native="activeCategoryItem(categories[0])">
        </category-item>

        <category-item
          v-bind:text="categories[1].name"
          v-bind:amount="categories[1].amount"
          v-bind:class="{active: categories[1] == activeCategory}"
          v-on:click.native="activeCategoryItem(categories[1])">
        </category-item>

        <category-item
          v-bind:text="categories[2].name"
          v-bind:amount="categories[2].amount"
          v-bind:class="{active: categories[2] == activeCategory}"
          v-on:click.native="activeCategoryItem(categories[2])">
        </category-item>
  </ul>

  </div>
  <script>

  Vue.component('category-item', {
    template: '<li class="item">{{text}} {{amount}}</li>',
    props: ['text', 'amount']
  })


    new Vue ({
      el: ('.app'),
      data: {
        name: 'Lera',
        age : 24,
        url: 'http://google.com',
        dataForm:{
          firstName: '',
          lastName: ''
        },
        activeCategory: null,
        categories: [
          {
            name: 'business',
            amount: 34
        },
          {
            name: 'Haloween',
            amount: 5
          },
          {
            name: 'Birthday',
            amount: 38
          }
        ]
      },
      methods:{
        changeName: function(){
          this.name = "Nikita"
        },
        activeCategoryItem: function(category){
          this.activeCategory = category
        }
      },
      computed: {
        userInfo: function(){
          return this.name + ' is ' + this.age
        },
        fullName: function(){

        }
      }
    })

  </script>
  <style media="screen">
    .item{
      /*color: red;*/
    }

    .active{
      color: red;
    }
  </style>
</body>
</html>
